bin/*
obj/*
Properties/*
Resources/*
App.config
RDB_Project.csproj
RDB_Project.csproj.user
/RDB_Project.csproj.user.orig
/Connector.edmx
/Connector.edmx.diagram
/Prdel_test.sql
*.user
*.suo
*.Context.*